<h2>produk list</h2>

<% users.forEach((user) => { %>
<div>
  <p>-------------------</p>
  <p><b>name :</b> <%=user.name %></p>
  <p><b>deskripsi :</b> <%=user.deskripsi %></p>
</div>
<%})%>
<p>----------------------------------</p>
<button><a href="/">Home</a></button>
